STM32446E-Nucleo/
STM32446E_EVAL/
STM324x9I_EVAL/
STM32F401-Discovery/
STM32F401RE-Nucleo/
STM32F410xx-Nucleo/
STM32F411E-Discovery/
STM32F411RE-Nucleo/
STM32F412G-Discovery/
STM32F412ZG-Nucleo/
STM32F413H-Discovery/
STM32F413ZH-Nucleo/
STM32F446ZE-Nucleo/

Debug
GPATH
GRTAGS
GTAGS
*~
*.o
*.d
